# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/
.pytest_cache/
.cache/

# Pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env
.env.*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code settings
# .vscode/

# IDEA (JetBrains) settings
.idea/

# OS files
.DS_Store
Thumbs.db


# Docker specific
*.log
*.pid
*.bak
*.swp
docker-compose.override.yml
.vagrant/
volumes/
